h2 {
	text-decoration: underline; 
	color: green;
}

#output {
	float: left;
	width: 250px;
	height: 150px;
	padding: 20px 10px 20px 40px;
	border: 1px solid #999999;
	background-color: #DAE6B1;
	color: #848582;
	border-radius: 15px;
}

#myCanvas {
	border:1px solid #c3c3c3;
}